* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

header {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: "Bitcount Prop Single", sans-serif;
  font-size: 4rem;
}

.dom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 900px;
  min-width: 500px;
  max-width: 1200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gameboard-left,
.gameboard-right {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 45%;
  min-height: 200px;
  max-height: 500px;
  min-width: 200px;
  max-width: 500px;
  margin: auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 2px solid black;
}

.grid-cell {
  border: 1px solid #ccc;
  width: 100%;
  aspect-ratio: 1 / 1;
}
